@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{

    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4b9e089350999.560cd0051cd7c.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
h1, h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: yellow;
    padding: center;
    text-align: center;
}

p {
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    color: yellow;
    padding: center;
}

